#Food Delivery Data Analysis & Insights

### Internship Data Analytics Assignment 


This notebook integrates multiple data sources related to a food delivery platform and
performs exploratory and statistical analysis as part of the Innomatics Hackathon.

The analysis is carried out by merging data from the following sources:
- Order transaction details (CSV file)
- User profile and membership information (JSON file)
- Restaurant metadata including cuisine and ratings (SQL file)

The primary objective of this analysis is to derive meaningful insights related to:
- Ordering and spending patterns of customers
- Revenue contribution and performance of restaurants
- Influence of customer ratings and membership categories
- Revenue distribution across different cuisines, cities, and time periods

# Code for final food_dataset by merging & loading files

In [ ]:
import pandas as pd
import sqlite3
orders = pd.read_csv("orders.csv")
users = pd.read_json("users.json")
conn = sqlite3.connect(":memory:")  # in-memory database
cursor = conn.cursor()
with open("restaurants.sql", "r", encoding="utf-8") as f:
    sql_script = f.read()
cursor.executescript(sql_script)
restaurants = pd.read_sql_query(
    "SELECT * FROM restaurants",
    conn
)

conn.close()
merged = orders.merge(users, on="user_id", how="left")
merged = merged.merge(restaurants, on="restaurant_id", how="left")
merged.to_csv("final_food_delivery_dataset.csv", index=False)

print("Final dataset created successfully")

#Output : Final dataset created successfully

#data validation

In [ ]:
# for Checking missing values
df.isnull().sum()

# for Checking duplicates
df.duplicated().sum()

# for Checking data types
df.dtypes

#mcq questions code

In [ ]:
import pandas as pd
df = pd.read_csv("final_food_delivery_dataset.csv")
df["order_date"] = pd.to_datetime(df["order_date"], dayfirst=True)
print("MCQ ANSWERS\n")
gold_city_revenue = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
)
print("1. Highest Gold revenue city:", gold_city_revenue.idxmax())
avg_cuisine = df.groupby("cuisine")["total_amount"].mean()
print("2. Highest average order value cuisine:", avg_cuisine.idxmax())
user_spend = df.groupby("user_id")["total_amount"].sum()
count_1000 = user_spend[user_spend > 1000].nunique()
if count_1000 < 500:
    bucket = "< 500"
elif count_1000 <= 1000:
    bucket = "500 – 1000"
elif count_1000 <= 2000:
    bucket = "1000 – 2000"
else:
    bucket = "> 2000"
print("3. Users spending > 1000 bucket:", bucket)
df["rating_range"] = pd.cut(
    df["rating"],
    bins=[0, 3.5, 4.0, 4.5, 5.0],
    labels=["3.0–3.5", "3.6–4.0", "4.1–4.5", "4.6–5.0"]
)
rating_revenue = df.groupby("rating_range")["total_amount"].sum()
print("4. Highest revenue rating range:", rating_revenue.idxmax())
gold_city_aov = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .mean()
)
print("5. Highest Gold AOV city:", gold_city_aov.idxmax())
restaurant_count = df.groupby("cuisine")["restaurant_id"].nunique()
print("6. Lowest restaurant count cuisine:", restaurant_count.idxmin())
gold_orders = df[df["membership"] == "Gold"].shape[0]
total_orders = df.shape[0]
percentage = round((gold_orders / total_orders) * 100)
print("7. Percentage of Gold orders:", f"{percentage}%")
restaurant_stats = df.groupby("restaurant_name_x").agg(
    avg_order_value=("total_amount", "mean"),
    total_orders=("order_id", "count")
)
top_restaurant = (
    restaurant_stats[restaurant_stats["total_orders"] < 20]
    .sort_values("avg_order_value", ascending=False)
    .head(1)
)
print("8. Highest AOV restaurant (<20 orders):", top_restaurant.index[0])
combo = (
    df.groupby(["membership", "cuisine"])["total_amount"]
    .sum()
)
print("9. Highest revenue combination:", combo.idxmax())
df["quarter"] = df["order_date"].dt.to_period("Q")
quarter_revenue = df.groupby("quarter")["total_amount"].sum()
print("10. Highest revenue quarter:", quarter_revenue.idxmax())
print("\nNUMERICAL ANSWERS\n")
print("11. Total Gold orders:", gold_orders)
hyd_revenue = df[df["city"] == "Hyderabad"]["total_amount"].sum()
print("12. Hyderabad revenue:", round(hyd_revenue))
print("13. Distinct users:", df["user_id"].nunique())
gold_aov = df[df["membership"] == "Gold"]["total_amount"].mean()
print("14. Gold AOV:", round(gold_aov, 2))

# 15. Orders with rating >= 4.5
print("15. Orders with rating >= 4.5:", df[df["rating"] >= 4.5].shape[0])

top_gold_city = gold_city_revenue.idxmax()
orders_top_city = df[
    (df["membership"] == "Gold") &
    (df["city"] == top_gold_city)
].shape[0]
print("16. Orders in top Gold revenue city:", orders_top_city)
print("\nDIRECT ANSWERS\n")
print("17. Join column (orders & users): user_id")
print("18. Cuisine & rating dataset format: SQL")
print("19. Rows in final dataset:", df.shape[0])
print("20. Missing user records result in: NaN")
print("21. Pandas join function: merge()")
print("22. Membership column source: users.json")
print("23. Join key for restaurant data: restaurant_id")
print("24. Food type column: cuisine")
print("25. User details repetition: multiple times")

#output
MCQ ANSWERS

1. Highest Gold revenue city: Chennai
2. Highest average order value cuisine: Mexican
3. Users spending > 1000 bucket: > 2000
4. Highest revenue rating range: 4.6–5.0
5. Highest Gold AOV city: Chennai
6. Lowest restaurant count cuisine: Chinese
7. Percentage of Gold orders: 50%
8. Highest AOV restaurant (<20 orders): Hotel Dhaba Multicuisine
9. Highest revenue combination: ('Regular', 'Mexican')
10. Highest revenue quarter: 2023Q3

NUMERICAL ANSWERS

11. Total Gold orders: 4987
12. Hyderabad revenue: 1889367
13. Distinct users: 2883
14. Gold AOV: 797.15
15. Orders with rating >= 4.5: 3374
16. Orders in top Gold revenue city: 1337

DIRECT ANSWERS

17. Join column (orders & users): user_id
18. Cuisine & rating dataset format: SQL
19. Rows in final dataset: 9974
20. Missing user records result in: NaN
21. Pandas join function: merge()
22. Membership column source: users.json
23. Join key for restaurant data: restaurant_id
24. Food type column: cuisine
25. User details repetition: multiple times

## Conclusion

This notebook presents a detailed analysis of a food delivery dataset to understand
customer ordering behavior, membership impact, cuisine performance, and revenue trends
across different cities and time periods.

The insights reveal the strong contribution of Gold members to overall revenue,